name: format

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  format:
    name: format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: rm -f package-lock.json && npm install

      - name: Check code formatting
        run: npm run format:check
